@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Mate+SC&display=swap');

body{
  padding: 5%;

  background-image: url("https://fsa.zobj.net/crop.php?r=dIGKZPCW2DaqLMDDFBom4fETqxc_O531sAZCooJTXLHhgT0i4meosVQQr5ohd7wWGEL88FI10CqrD7cF1JnM4RM7gq8nQV9rv5SOj6jjaNnlD9EwbdwrlZR48MkFR8y6NB0MzbqyvptvC2U9");
  background-repeat: no-repeat;
  background-size:auto;

}

.input_code{
  display: flex;
  justify-content:space-around;
  flex-direction: row;
}
#encrypt {

  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 0.5%;
  box-sizing: border-box;
  border: 3px solid #555;
  border-radius: 4px;
  text-align: center;

}
#decrypt{
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 0.5%;
  box-sizing: border-box;
  border: 3px solid #555;
  border-radius: 4px;
  text-align: center;
}
.panel_button{
  display: flex;
  justify-content: center;
}
h3{
  margin-top: 10%;
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  font-family: 'Mate SC', serif;
}
.heading{
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-bottom: 5%;
  font-family: 'Kalam', cursive;
  color: white;
}
footer {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  z-index: 999;
}
footer p {
  margin: 10px 0;
}

footer i {
  color: white;
}

footer a {
  color: #3c97bf;
  text-decoration: none;
}

.social {
  margin: 5px;
}

@media (max-width:1000px) {

  @import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Mate+SC&display=swap');

  body{
    padding: 5%;
    background-image:url("mobile.jpg");
    background-repeat: no-repeat;
    background-size:auto;

  }
  .input_code{
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    size:3px;
    padding: 5%;
  }

  #encrypt {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 0.5%;
    box-sizing: border-box;
    border: 3px solid #555;
    border-radius: 4px;
    text-align: center;

  }
  #decrypt{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 0.5%;
    box-sizing: border-box;
    border: 3px solid #555;
    border-radius: 4px;
    text-align: center;
  }




}
